{% extends "base.html" %}
{% block content %}
<div class= "main_form">
    <h1>Login Form</h1>
    <form action= "/login" method= "POST">            
        <label for= "username" value= "">Username:</label>
            
        <input id= "username" type= "text" name= "username" value="{{ request.form['username'] }}" /><br>
        <label for= "password" value= "">Password:</label>
           
        <input type= "password" name= "password" autocomplete= "off" /><br>
        <label for= "email" value= "">E-mail:</label>
            
        <input type= "text" name= "email" value="{{ request.form['email'] }}"/><br>           
        <input id="sub_button" type= "submit"/>
    </form>
</div>
    {% endblock %}